
/* removed audio menu for cleaner page appearance */
audio {
  display:none;
}
/* formatting for images and paragraph */
#content {
  display:block;
}
.interests-container {
  display:flex;
  align-items:flex-start;
  margin-top:20px;
}
.interests-container img {
  margin-right:20px;
  width:200px;
}
.interests-container video {
  margin-right:20px;
}
#content p.d {
  max-width:600px;
  /* paragraph formatting for interests.html */
}
.about-container {
  display:flex;
  align-items:flex-start;
  margin-top:20px;
}
.about-container img {
  margin-right:20px;
  width:200px;
}
#content p.c {
  max-width:600px;
  /* about.html paragraph formatting */
}
body {
  font-family:Avenir,Arial,sans-serif;
  margin:0;
  padding:0;
  color:#f2cc8f;
  font-size:16px;
  line-height:24px;
  background-color:#F4F1DE;
}
a {
  color:#fff;
}
a:hover {
  color:#880000;
}
#wrap {
  margin:40px auto;
  width:940px;
  background:#3D405B;
  box-shadow:0px 0px 15px rgba(0,0,0,0.1);
  -moz-box-shadow:0px 0px 15px rgba(0,0,0,0.1);
  -webkit-box-shadow:0px 0px 15px rgba(0,0,0,0.1);
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}
#header {
  -webkit-border-top-left-radius:10px;
  -webkit-border-top-right-radius:10px;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  background:#3D405B;
  padding:20px 0 40px 0;
}
#header h1 {
  margin:0;
  padding:0 0 0 30px;
  font-weight:bold;
  color:#f2cc8f;
  font-size:38px;
  line-height:65px;
  letter-spacing:-1px;
}
#header h2 {
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  margin:0 0 0 20px;
  padding:5px 12px;
  font-weight:normal;
  color:#f2cc8f;
  font-size:22px;
  letter-spacing:-1px;
  background:#f2cc8f;
  border:1px solid #f2cc8f;
  display:inline;
}
#topmenu {
  background:#81B29A;
  padding:10px 20px;
  border-bottom:1px solid #81b29e;
  border-top:1px solid #81b29e;
}
#topmenu ul {
  margin:0;
  padding:0;
  list-style-type:none;
}
#topmenu li {
  display:inline;
  padding:0 20px 0 0
}
#topmenu li a {
  text-decoration:none;
}
.search {
  float:right;
}
#menu {
  font-size:14px;
  float:right;
  width:300px;
  color:#fff;
  margin:30px 20px 20px 0;
}
#menu h3 {
  font-weight:normal;
  background:#5f5f5f;
  color:#fff;
  padding:10px;
  margin:10px 0;
}
#menu ul {
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  list-style-type:none;
  margin:0;
  padding:0 10px 10px 10px;
}
#menu ul li a {
  color:#12c;
  text-decoration:none;
  border-bottom:1px dotted #12c;
}
#menu ul li a:hover {
  color:#c12;
  border-bottom:1px dotted #c12;
}
#content {
  float:left;
  width:580px;
  margin:10px 0 40px 20px;
}
#content h2 {
  font-weight:normal;
  font-size:22px;
  line-height:33px;
}
#content h3 {
  font-size:17px;
  font-weight:normal;
}
.cleft {
  float:left;
  width:280px;
  margin:10px 0;
}
.cright {
  float:right;
  width:280px;
  margin:10px 0;
}
#footer {
  -webkit-border-bottom-right-radius:10px;
  -webkit-border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  border-bottom-left-radius:10px;
  background:#E07A5F;
  color:#fff;
  padding:20px;
  border-top:1px solid #E07A5f;
}
#footer a {
  color:#fff;
  text-decoration:none;
  border-bottom:1px dotted #3d405b;
}
#footer a:hover {
  border-bottom:1px dotted #ccc;
}
/* validated.html formatting */
#validation-left {
  float:left;
}
#validation-right {
  float:left;
  padding-left: 20px;
}
.left {
  float:left;
}
.right {
  float:right;
}
.clear {
  clear:both;
}
